#container{
    display: flex;
    width: 80%;
    background-color: rgb(243, 243, 243);
    margin: auto;
    border-radius:10px;
}
#container > div{
    border-radius:10px;
    height: 530px;
    width: 50%;
}
#container > div>img{
    max-width: 100%;
}

#container p{
    margin: 10%;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#container button{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: red;
  margin-left:10% ;
  color: white;
  font-weight: 600;

}
@media all and (max-width: 1000px){
    #container{
        width: 80%;
        text-align: center;

    }
    #container > div:nth-child(2){
        display: none;
    }
    #container > div{
        border-radius:10px;
        width: 100%;
    }
}
#appeneitems{
    display: grid;
    grid-template-columns: repeat(4,25%);
    text-align: center;
    margin:0 9%;
    gap: 20px;
  }
  #appeneitems img{
    max-width: 80%;
  }
  .item{
    /* width: 20%; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    height: 400px;
  }
  .item button{
  
    margin:2px 20px;
    color: rgb(255, 255, 255);
    background-color:red;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 50px;
  }
  #appeneitems>div :hover{
    box-shadow: rgba(0, 0, 0, 0.24) 5px 3px 8px;
    border-radius: 20px;
    /* height: 400px; */
  }
  @media all and (max-width: 870px) {

    #appeneitems {
      grid-template-columns: repeat(3, 1fr);
    }
    #appeneitems > div {
      /* height: 33vh; */
    }
  }